<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tr><td>订单编号</td><td>姓名</td></tr>
    <tr th:each="user:${allUsers}">
        <td th:text="${user.orderId}"/>
        <td th:text="${user.orderName}"/>
        <td><input type="button" value="买入"></input></td>
        <td><a href="/ordertest/input">BUY</a></td>
    </tr>
</table>
<style>
    table{border-right:1px solid #f6ff33;border-bottom:1px solid #ff6121
    }
    table td{border-left:1px solid #f6ff33;border-top:1px solid #fda508
    }
    /*
    css 注释：
    只对table td设置左与上边框；
    对table设置右与下边框；
    为了便于截图，我们将css 注释说明换行排版
    */
</style>
</body>
</html>