<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/ordertest/input}" th:object="${ordertestdto}" method="post">
    <p>orderId: <input type="text" th:field="*{orderId}" /></p>
    <p>orderName: <input type="text" th:field="*{orderName}" /></p>
    <p><input type="submit" value="插入数据" /> <input type="reset" value="重新输入" /></p>
</form>
</body>
</html>